[Unit]
Description=A headless factorio server from dynamic configuration.
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/var/cache/factoriod/factorio.opts.env
ExecStart=/var/cache/factoriod/factorio/bin/x64/factorio ${FACTORIO_OPTS}
Restart=on-failure
User=factoriod

# downloaded game binaries, opts.env
CacheDirectory=factoriod

# save games, mods
StateDirectory=factoriod

[Install]
WantedBy=multi-user.target
