[package]
name = "download-latest-headless"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
factorio-http-api.workspace = true
