[package]
name = "factoriod-config"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
nutype.workspace = true
serde.workspace = true

[dev-dependencies]
serde_json.workspace = true
