[Unit]
Description=A factorio daemon
Documentation=https://github.com/asasine/factoriod
Wants=networking-online.target
After=networking-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/Factoriod.Daemon
User=factorio
Group=factorio
WorkingDirectory=/usr/local/lib/factoriod
StateDirectory=factoriod
CacheDirectory=factoriod
ConfigurationDirectory=factoriod
